<html>
<head>
<link rel="stylesheet" href="../static/engine1/font-awesome-4.2.0/css/font-awesome.css">
<link rel='stylesheet' href='{{STATIC_URL}}/engine1/style.css'>
</head>
<body>

{% if message %}
    <p style = 'color:red;'>{{message}}</p>
{% endif %}
<div id="banner">
    <br><br><br>
    <strong>Welcome to the Kasner Micro Search Engine! </strong> <br> <br><br>
    <form action="/kasner/" method="get">
        <input type="text" name="query">
        <input type="submit" value="Kasner!">
    </form>
</div>

<div class=container-wide>
    <div class=container-thirds>
        <p>
        <a href="about" style="color:black"><i class="fa fa-user fa-4x"></i></a><br><br>
        <a href="about" style="color:black;text-decoration:none">About our team</a><br>
        <br>
        </p>
    </div>
    
    <div class=container-thirds>
        <p>
        <i class="fa fa-ruble fa-4x"></i><br><br>
        second one<br>
        here
        </p>
    </div>
    
    <div class=container-thirds>
    <p>
    <i class="fa fa-file-text fa-4x"></i><br><br>
    icon <br>
    third
    </div>
</div>
</body>
</html>
