{% verbatim %}
<div>
<ul class="nav nav-pills">
    <li ng-class="{active:tab.isTabSet(1)}">
        <a href ng-click="tab.setTab(1)">Search Terms</a>
    </li>
    <li ng-class="{active:tab.isTabSet(2)}">
        <a href ng-click="tab.setTab(2)">Browsers</a>
    </li>
</ul>

<!-- Two separate search forms, one for search terms and one for browsers.
Only one shows up at a time, so that the searchString from search terms and 
the searchString from browsers don't affect each other.-->
<div ng-show="tab.isTabSet(1)">
    <p>Use the following search to search through all of the search terms.</p>
    <!-- Search form. -->
    <input type='text' ng-model="searchStringTerms "placeholder='Enter search'>
</div>

<div ng-show="tab.isTabSet(2)">
    <p>Use the following search to search through all of the search terms.</p>
    <!-- Search form. -->
    <input type='text' ng-model="searchStringBrowsers" 
    placeholder='Enter search'>
</div>


<table ng-show="tab.isTabSet(1)">
    <tr ng-repeat="term in statsApp.terms | searchFilter:searchStringTerms
        | orderBy: '-count'">
        <td>{{ term.name }}</td>                                                        <td>{{ term.count }}</td>
    </tr>
</table>
<table ng-show="tab.isTabSet(2)">
    <tr ng-repeat="browser in statsApp.browsers 
        | searchFilter:searchStringBrowsers | orderBy: '-count'">
        <td>{{browser.name}}</td>
        <td>{{browser.count}}</td>
    </tr>
</table>

<br><br>
tab is: {{tab}} <br>
tab1 is set: {{tab.isTabSet(1)}}
</div>
{% endverbatim %}
